@using EntityLayer.Concrete
@model List<Skill>
<div class="col-six tab-full right">
    <h3>Teknolojiler Konusundaki Bazı Yeteneklerim</h3>

    <ul class="skill-bars">
        @foreach (var item in Model)
        {
            var percent = "percent" + item.Value;

            <li>
                <div class="progress @percent"><span>@item.Value%</span></div>
                <strong>@item.Title</strong>
            </li>
        }
    </ul>
</div>