<!DOCTYPE html>
<html class="no-~/hola-master/js/" lang="en">

@await Component.InvokeAsync("_HeadPartial")

<body id="top">
    @await Component.InvokeAsync("_HeaderPartial")

    @RenderBody()

    @await Component.InvokeAsync("_FooterPartial")

    @await Component.InvokeAsync("_PhotoswipePartial")

    @await Component.InvokeAsync("_JavascriptPartial")

</body>
</html>